.main {
  background-image: url("https://lh3.googleusercontent.com/SLVY3pZlxA5fC48C3rKG4NSA2W00O__aPsq8TOz6gHH1MHQYK5vilWcUruIyVOsQM93baKydERZ6IM4O_VscwO0LcvlGGa5qJc8t7PmmQeCBl8f7NJc9Yvzw2e86k6ViOYloV0yc=w2400");
}

.signIn {
  color: rgb(255, 255, 255);
  background-color: rgb(23,23,23);
  text-align: center;
}